<header>
  <nav id="top-nav" class="navbar navbar-expand navbar-light fixed-top bg-light" aria-label="Navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/#splash" aria-label="Back to top of home page" role="link">
        <img class="me-auto" src="./images/background_MACT.jpg" height="45" role="img" alt="">
      </a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/#featured">Featured</a>
          </li>
          <li class="nav-item">
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
          </li>
          <a class="nav-link" href="/#about">Artist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
        <div>
          <button id="wallet-connect" type="button" class="btn btn-outline-dark text-dark">Connect
            Wallet</button>
        </div>
      </div>
    </div>
  </nav>
</header>